<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.opengm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OpenGMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".identification.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".identification.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".groups.MyGroupsActivity"
            android:label="@string/title_activity_my_groups"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".groups.ManageRolesActivity"
            android:label="@string/title_activity_manage_roles"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".groups.JoinGroup"
            android:label="@string/title_activity_join_group"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".groups.Members"
            android:parentActivityName=".groups.GroupsHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_members"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".groups.CreateGroupActivity"
            android:label="@string/title_activity_create_group"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".events.EventListActivity"
            android:label="@string/title_activity_event_list"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".events.ShowEventActivity"
            android:label="@string/title_activity_show_event"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".events.CreateEditEventActivity"
            android:label="@string/title_activity_create_edit_event"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".events.AddRemoveParticipantsActivity"
            android:label="@string/title_activity_add_remove_participants"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".groups.GroupsHomeActivity"
            android:label="@string/title_activity_groups_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".groups.ModifyGroup"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_modify_group">
        </activity>

    </application>

</manifest>
